@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

#nomeLivro, #editInput {
    width: 370px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: .3rem .6rem;
}

#numPagLidas, #totalPag {
    width: 180px;
    margin-bottom: 10px;
    padding: .3rem .6rem;
}

#totalPag {
    width: 230px;
    margin-top: 5px;
}

button {
    background-color: #FDFDFD;
    color: #102F5e;
    border: 2px solid #102F5e;
    cursor: pointer;
    padding: .3rem .6rem;
}

button:hover {
    background-color: #102F5e;
    color: #fff;
}

button:hover > i {
    color: #fff;
}

button i {
    color: #102F5e;
    font-weight: bold;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hiden {
    display: none;
}

.concluido {
    text-decoration: line-through;
    color: green;
    font-style: italic;
}

#btnEditar {
    margin-top: 5px;
}